<div id="main-home">
  <div class="title">
    <h2>Welcome to our Demo App!</h2>
  </div>
  <div class="content">
    <P>This is a demo App built over Angular 12 along with NodeJS.</P>
    <p>To visit an option, please click on any of the top right menus.</p>
    <p>Once there, you'll see the list of existing items.</p>
    <p>All the data from backend server is being fetched through GraphQuery Language there.</p>
  </div>
  <div class="info-1">
    <p>For any issues, please report here: <a class="app-links" href="https://github.com/abhishekVaishnav/graphQL-demo/issues">https://github.com/abhishekVaishnav/graphQL-demo/issues</a></p>
  </div>
  <div class="info-2">
    <p>To rate it, please visit: <a class="app-links" href="https://github.com/abhishekVaishnav/graphQL-demo">https://github.com/abhishekVaishnav/graphQL-demo</a></p>
  </div>
  <div class="thanks">
    <p>Thanks!</p>
  </div>
</div>